<!-- Ao pegar o codigo do Navbar do bootstrape e colar no componente Nav referencia com app "<app-nav></app-nav>" e fecha com "<router-outlet></router-outlet>" coloquei o "<div class="container">" para dar mais espaço apenas.   -->
<app-nav></app-nav>
<div class="container">
<router-outlet></router-outlet>   
</div>





<!--    Exemplo de como pode ser feito manualmente -->
<!-- <nav>

    <ul>
        <li>
            <a routerLink="Dashboard">Principal</a>
        </li>
    </ul>

    <ul>
        <li>
            <a routerLink="Professores">Professores</a>
        </li>
    </ul>
    <ul>
        <li>
            <a routerLink="Alunos">Alunos</a>             //// ==> Quando eu troco hRef pelo Router link ele não fica atualizando a paguna-->
   <!--     </li>
    </ul>
   
</nav>

<ul>
    <li>
        <a routerLink="Perfil">Perfil</a>
    </li>
</ul>


<router-outlet></router-outlet>

-->